#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp F1           &kp F2           &kp F3           &kp F4           &kp F5           &kp F6
                &kp N1           &kp N2           &kp N3           &kp N4           &kp N5           &kp N6
                &kp Q            &kp W            &kp E            &kp R            &kp T            &kp Y
                &kp A            &kp S            &kp D            &kp F            &kp G            &kp H
                &kp Z            &kp X            &kp C            &kp V            &mo 1            &kp SPACE
            >;
        };

        fn_layer {
            bindings = <
                &kp ESCAPE       &kp TAB          &kp UP           &kp PAGE_UP      &kp HOME         &kp END
                &kp LEFT         &kp DOWN         &kp RIGHT        &kp PAGE_DOWN    &kp INSERT       &kp DELETE
                &kp K            &kp M            &kp COMMA        &kp DOT          &kp SLASH        &kp BACKSPACE
                &kp LEFT_SHIFT   &kp LEFT_CONTROL &kp LEFT_ALT     &kp LEFT_GUI     &kp ENTER        &kp SPACE
                &bootloader      &sys_reset       &none            &none            &trans           &trans
            >;
        };
    };
};
